{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>{% block title %}ecomsite{% endblock %}</title>
    <link href="{% static 'store/css/base.css' %}" rel="stylesheet">
</head>

<body>
    <div id="header">
        <a href="/" class="logo">Ecomsite</a>
        <span class="user">
        <a href="{% url "orders:order_list" %}">Orders</a>
        {% if request.user.is_authenticated %}
        <a href="{% url "profile" %}">{{ request.user.first_name|default:request.user.username }}</a>
        {% else %}
        <a href="{% url "login" %}">Login</a>
        {% endif %}
        </span>
    </div>
            {% if messages %}
            <ul class="messages">
            {% for message in messages %}
            <li class="{{ message.tags }}">
            {{ message|safe }}
            <a href="#" class="close">x</a>
            </li>
            {% endfor %}
            </ul>
            {% endif %}
    </div>
    <div id="subheader">
        <div class="cart">
            {% with total_items=cart|length %}
                {% if total_items > 0 %}
                    Your cart:
                    <a href="{% url "cart:cart_detail" %}">
                        {{ total_items }} item{{ total_items|pluralize }},
                        ${{ cart.get_total_price }}
                    </a>
                    {% elif not order %}
                    Your cart is empty.
                {% endif %}
            {% endwith %}
        </div>
    </div>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>