{% extends "store/base.html" %}
{% block title %}Set your password{% endblock %}
{% block content %}
<div class="container mt-5"></div>
    <h1 class="mb-4">Set Password</h1>
    <p>Use the form below to change your password.</p>
    <form method="post" class="needs-validation" novalidate></form>
        {{ form.as_p }}
        <div class="form-group"></div>
            <button type="submit" class="btn btn-primary">Set</button>
        </div>
        {% csrf_token %}
    </form>
</div>
{% endblock %}