{% extends "store/base.html" %}
{% block title %}
Thank you
{% endblock %}
{% block content %}
    <h1>Past Orders</h1>
    <ul class="order-list">
        {% for order in orders %}
            <li>
                <strong>Order ID:</strong> <a href={% url "orders:order_detail" order.id %}>{{ order.id }}</a> <br>
                <strong>Date:</strong> {{ order.created }}
                <strong>Total:</strong> ${{ order.get_total_cost }}
                <strong>Status:</strong> {{ order.status }}
            </li>
        {% empty %}
            <li>No past orders found.</li>
        {% endfor %}
    </ul>
    {% endblock %}