{% extends "store/base.html" %}
{% block title %}
order {{ order.id }}
{% endblock %}
{% block content %}
    <div class="container mt-5"></div>
        <h1 class="mb-4">Order {{ order.id }}</h1>
        <p><strong>Date:</strong> {{ order.created }}</p>
        <p><strong>Status:</strong> {{ order.get_status_display }}</p>
        
        <h2 class="mt-4">Shipping details</h2>
        <p><b>Name:</b> {{ order.first_name }} {{ order.last_name }}</p>
        <p><b>Address:</b> {{ order.address }}</p>
        <p><b>City:</b> {{ order.city }}, {{ order.postal_code }}</p>
        
        <h2 class="mt-4">Items</h2>
        <ul class="list-group">
            {% for item in order.items.all %}
                <li class="list-group-item">{{ item.product.name }} x {{ item.quantity }} - ₹{{ item.price }}</li>
            {% endfor %}
        </ul>
        
        <h2 class="mt-4">Order total: ₹{{ order.get_total_cost }}</h2>
        
        {% if order.status != 'D' and order.status != 'C' %}
            <a href="{% url 'orders:cancel_order' order.id %}" class="btn btn-danger mt-3">Cancel Order</a>
        {% endif %}
    </div>
{% endblock %}