{% extends "store/base.html" %}
{% block title %}Log in{% endblock %}
{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Log in</h1>
    {% if form.errors %}
    <div class="alert alert-danger" role="alert">
        Your username and password didn't match. Please try again.
    </div>
    {% endif %}
    <div class="social mb-4">
        <ul class="list-unstyled">
            <li class="google">
                <a class="btn btn-danger" href="{% url "social:begin" "google-oauth2" %}">Sign in with Google</a>
            </li>
        </ul>
    </div>
    <div class="login-form"></div>
        <form method="post" class="needs-validation" novalidate>
            {{ form.as_p }}
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}"/>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Log in</button>
            </div>
        </form>
        <p><a href="{% url 'password_reset' %}">Forgotten your password?</a></p>
        <p><a href="{% url 'register' %}">Create an account</a></p>
    </div>
</div>
{% endblock %}