{% extends "store/base.html" %}
{% block title %}Create an account{% endblock %}
{% block content %}
<div class="container mt-5">
    <h1>Create an account</h1>
    <p>Please, sign up using the following form:</p>
    
    <form method="post" class="needs-validation" novalidate>
        {{ user_form.as_p }}
        {% csrf_token %}
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Sign Up</button>
        </div>
    </form>
    <p>Already have an account? <a href="{% url 'login' %}">Log in</a></p>
    <p>or</p>
    <div class="social mb-4">
        <ul class="list-unstyled">
            <li class="google">
                <a class="btn btn-danger" href="{% url "social:begin" "google-oauth2" %}">Sign in with Google</a>
            </li>
        </ul>
    </div>
</div>
{% endblock %}