{% extends "store/base.html" %}
{% load static %}
{% block title %}
{{ product.name }}
{% endblock %}
{% block content %}
<div class="product-detail">
    <img src="{% if product.image %}{{ product.image.url }}{% else %}
{% static "img/no_image.png" %}{% endif%}">
    <h1>{{ product.name }}</h1>
    <h2>
        <a href="{{ product.category.get_absolute_url }}">
            {{ product.category }}
        </a>
    </h2>
    <p class="price">${{ product.price }}</p>
    <p class="rating">Rating: {{ product_rating }}</p>
    <form action="{% url "cart:cart_add" product.id %}" method="post">
        {{ cart_product_form.as_p }}
        {% csrf_token %}
        <input type="submit" value="Add to cart">
    </form>
    {{ product.description|linebreaks }}
    <div class="reviews">
        <h3>Reviews:</h3>
        {% for review in product_reviews %}
            <div class="review">
                <p><strong>{{ review.user }}</strong> ({{ review.date_added }})</p>
                <p>{{ review.comment }}</p>
            </div>
        {% endfor %}
    </div>
    {% if has_bought %}
    <div class="post-review">
        <h3>Post a Review:</h3>
        <form action="{% url 'store:post_review' product.id product.slug %}" method="post">
            {% csrf_token %}
            {{ review_form.as_p }}
            <input type="submit" value="Submit Review">
        </form>
    </div>
    {% endif %}
</div>
{% endblock %}