{% extends "store/base.html" %}
{% load static %}
{% block title %}
{% load cache %}
{% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}
{% block content %}
<div id="search" class="mb-4">
    <h3>Search</h3>
    <form action="{% url 'store:product_search' %}" method="get" class="form-inline">
        {{ search_form.as_p }}
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>
<div class="row">
    <div id="sidebar" class="col-md-3">
        <h3>Categories</h3>
        <ul class="list-group">
            <li class="list-group-item {% if not category %} active {% endif %}">
                <a href="{% url 'store:product_list' %}">All</a>
            </li>
            {% for c in categories %}
            <li class="list-group-item {% if category.slug == c.slug %} active {% endif %}">
                <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div id="main" class="col-md-9 product-list">
        {% cache 600 products_list category.name|default:"all" %}
        <div class="row">
            {% for product in products %}
            <div class="col-md-4 item mb-4">
                <div class="card">
                    <a href="{{ product.get_absolute_url }}">
                        <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" class="card-img-top">
                    </a>
                    <div class="card-body">
                        <a href="{{ product.get_absolute_url }}" class="card-title">{{ product.name }}</a>
                        <p class="card-text">${{ product.price }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endcache %}
    </div>
</div>
{% endblock %}