{% extends "store/base.html" %}
{% load static %}
{% block title %}
{% load cache %}
{% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}
{% block content %}
<form action="{% url 'store:product_search' %}" method="get">
    {{ search_form.as_p }}
    <input type="submit" value="Search">
</form>
<div id="sidebar">
    <h3>Categories</h3>
    <ul>
        <li {% if not category %} class="selected" {% endif %}>
            <a href="{% url "store:product_list" %}">All</a>
        </li>
        {% for c in categories %}
        <li {% if category.slug == c.slug %} class="selected" {% endif %}>
            <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
<div id="main" class="product-list">
    {% cache 600 products_list category.name|default:"all" %}
    <h1>{% if category %}{{ category.name }}{% else %}Products{% endif %}</h1>
    {% for product in products %}
    <div class="item">
        <a href="{{ product.get_absolute_url }}">
            <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
        </a>
        <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
        <br>
        ${{ product.price }}
    </div>
    {% endfor %}
    {% endcache %}
    </div>
{% endblock %}